Repository zefr0x/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-lint, toml-format, deno-fmt

toml-lint:
  name: taplo lint
  entry: taplo lint
  language: system

toml-format:
  name: taplo format
  entry: taplo format
  language: system

deno-fmt:
  name: deno fmt
  entry: deno fmt
  language: system

feat(de/hyprland): block screen for sensitive windows
  de/wayland/hyprland/hyprland.conf
Due: none

feat(de/hyprland): deny screencopy access by `hyprlock`
  de/wayland/hyprland/hyprland.conf
Due: none

feat(de/hyprland): migrate to the new monitor syntax and try to handle HDR
  de/wayland/hyprland/hyprland.conf
Due: none

fix(de/niri): broken `wlsunset` startup
  de/wayland/niri.kdl
Due: none

waybar: start using `power-profiles-daemon`
  README.md
  de/wayland/waybar/config
  de/wayland/waybar/style.css
  install_packages.py
Due: deno-fmt

deps: add `typst` and `tinymist`
  README.md
  install_packages.py
  tools/helix/languages.toml
  tools/nvim/lua/plugin/lsp.lua
  tools/nvim/lua/plugin/treesitter.lua
  tools/nvim/lua/plugin_loading.lua
Due: toml-lint, toml-format, deno-fmt

Path conditions:
  toml-lint: any of: \.toml$
  toml-format: any of: \.toml$
  deno-fmt: any of: \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
