Repository zefr0x/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-lint, toml-format, deno-fmt

toml-lint:
  name: taplo lint
  entry: taplo lint
  language: system

toml-format:
  name: taplo format
  entry: taplo format
  language: system

deno-fmt:
  name: deno fmt
  entry: deno fmt
  language: system

nvim: update deps
  tools/nvim/lazy-lock.json
Due: deno-fmt

pre-commit: update hooks
  .pre-commit-config.yaml
Due: deno-fmt

swayimg: use `mks13` for antialiasing
  apps/swayimgrc
Due: none

de: enable transparency everywhere
  .dotter/global.toml
  README.md
  apps/swayimgrc
  apps/zathura/theme
  de/gui/gtk/gtk-3.0/gtk.css
  de/gui/gtk/gtk-4.0/gtk.css
  de/gui/qt/Kvantum/README.md
  de/gui/qt/Kvantum/cherry-midnight/cherry-midnight.kvconfig
  de/gui/qt/Kvantum/cherry-midnight/cherry-midnight.svg
  de/gui/qt/Kvantum/cherry-solid/cherry-solid.svg
  de/gui/qt/Kvantum/kvantum.kvconfig
  de/wayland/fuzzel/fuzzel.ini
  de/wayland/hyprland/hyprland.conf
  de/wayland/swaync/style.css
  de/wayland/waybar/style.css
  tools/helix/config.toml
  tools/helix/themes/zefr0x.toml
  utils/alacritty/alacritty.toml
  utils/kitty/theme.conf
Due: toml-lint, toml-format, deno-fmt

lint: remove deprecated ruff rules
  pyproject.toml
Due: toml-lint, toml-format

helix: disable auto-format
  tools/helix/config.toml
Due: toml-lint, toml-format

dotter: add option to enable blur
  .dotter/global.toml
  README.md
  de/wayland/hyprland/hyprland.conf
Due: toml-lint, toml-format, deno-fmt

helix|nvim: remove java support
  README.md
  install_packages.py
  tools/helix/languages.toml
  tools/nvim/lua/plugin/lsp.lua
  tools/nvim/lua/plugin/treesitter.lua
  tools/nvim/lua/plugin_loading.lua
Due: toml-lint, toml-format, deno-fmt

de: randomly set wallpaper on request
  README.md
  de/wayland/hyprland/hyprland.conf
  de/wayland/niri.kdl
  install_packages.py
  scripts/random_wallpaper.sh
Due: deno-fmt

hyprland: enabld hdr? and improve config
  apps/mpv/input.conf
  apps/mpv/mpv.conf
  de/wayland/hyprland/hyprland.conf
Due: none

dotter: fix niri conifg template
  de/wayland/niri.kdl
Due: none

de: replace `wl-gammarelay-rs` with `wlsunset` and `brightnessctl`
  .dotter/global.toml
  README.md
  de/wayland/hyprland/hypridle.conf
  de/wayland/hyprland/hyprland.conf
  de/wayland/niri.kdl
  de/wayland/waybar/config
  de/wayland/waybar/style.css
  install_packages.py
  scripts/auto_display_settings.py
Due: toml-lint, toml-format, deno-fmt

nvim: fix decrecated warnings and delete `rainbow-delimiters.nvim`
  tools/nvim/lazy-lock.json
  tools/nvim/lua/plugin/lsp.lua
  tools/nvim/lua/plugin/lualine.lua
  tools/nvim/lua/plugin/rainbow_delimiters.lua
  tools/nvim/lua/plugin/treesitter.lua
  tools/nvim/lua/plugin_loading.lua
Due: deno-fmt

scripts(random_wallpaper): use fill mode in swaybg
  scripts/random_wallpaper.sh
Due: none

dotter: add option to enable hdr
  README.md
  de/wayland/hyprland/hyprland.conf
Due: deno-fmt

dep: replace `eza` with `lsd`
  README.md
  install_packages.py
  utils/fish/config.fish
Due: deno-fmt

de(gtk): improve gtk4 theme and create gtk3 one
  README.md
  de/gui/gtk/gtk-3.0/gtk.css
  de/gui/gtk/gtk-4.0/gtk.css
  install_packages.py
Due: deno-fmt

de(gtk): delete `settings.ini` files, since they are ignored
  .dotter/global.toml
  de/gui/gtk/gtk-3.0/settings.ini
  de/gui/gtk/gtk-4.0/settings.ini
Due: toml-lint, toml-format

docs: update readme and fix typo
  README.md
Due: deno-fmt

fuzzel: improve border after update
  de/wayland/fuzzel/fuzzel.ini
Due: none

hyprland: improve groups and have alacritty tabs
  de/wayland/hyprland/hyprland.conf
Due: none

refac(de): use uwsm to set env vars in hyprland
  .dotter/global.toml
  de/wayland/hyprland/hyprland.conf
  de/wayland/niri.kdl
  de/wayland/uwsm/env
  de/wayland/uwsm/env-hyprland
Due: toml-lint, toml-format

fix(fuzzel): comment line
  de/wayland/fuzzel/fuzzel.ini
Due: none

feat(git/delta): set tab size to 4 spaces
  tools/git_config
Due: none

deps: delete `bat`
  README.md
  install_packages.py
Due: deno-fmt

deps: add `presenterm`
  README.md
  install_packages.py
Due: deno-fmt

fix(fish/vf): alias of `rm` was used in the script
  utils/fish/functions/vf.fish
Due: none

fix(helix): transparent background in alacritty
  tools/helix/themes/zefr0x.toml
Due: toml-lint, toml-format

deps: add gnome characters
  README.md
  install_packages.py
Due: deno-fmt

feat(hyprland): enforce permissions
  de/wayland/hyprland/hyprland.conf
Due: none

deps: delete `cargo-deny`
  README.md
  install_packages.py
Due: deno-fmt

deps(nvim): update all plugins
  tools/nvim/lazy-lock.json
Due: deno-fmt

fix(nvim): transparent background in alacritty
  tools/nvim/lua/theme.lua
Due: none

feat(hyprland): disable donation messages
  de/wayland/hyprland/hyprland.conf
Due: none

feat(niri): enable numlock on startup
  de/wayland/niri.kdl
Due: none

feat(waybar): add default source controls for wireplumber
  de/wayland/waybar/config
Due: none

feat(waybar): show systemd failed units count when there is
  de/wayland/waybar/config
  de/wayland/waybar/style.css
Due: deno-fmt

deps: delete go lang
  README.md
  install_packages.py
  tools/helix/languages.toml
  tools/nvim/lua/plugin/lsp.lua
  tools/nvim/lua/plugin_loading.lua
Due: toml-lint, toml-format, deno-fmt

fix(swaync): migrate to the new gtk4 css variables
  de/wayland/swaync/style.css
Due: deno-fmt

Path conditions:
  toml-lint: any of: \.toml$
  toml-format: any of: \.toml$
  deno-fmt: any of: \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
